body {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 50%;
  margin-top: 30px;
}

button{
  padding: 8px;
}
